.msg-success {
	background-color: #68C934;
	border-color: #53a02a;
	color: #fff;
}

.msg-success hr {
	border-top-color: #498c24;
}

.msg-success .msg-link {
	color: #e6e6e6;
}

.msg-info {
	background-color: #45ABCD;
	border-color: #2f90b0;
	color: #fff;
}

.msg-info hr {
	border-top-color: #2a7f9c;
}

.msg-info .msg-link {
	color: #e6e6e6;
}

.msg-warning {
	background-color: #ff9800;
	border-color: #cc7a00;
	color: #fff;
}

.msg-warning hr {
	border-top-color: #b36a00;
}

.msg-warning .msg-link {
	color: #e6e6e6;
}

.msg-danger {
	background-color: #9E170E;
	border-color: #6f100a;
	color: #fff;
}

.msg-danger hr {
	border-top-color: #580d08;
}

.msg-danger .msg-link {
	color: #e6e6e6;
}
