#printing {
  background: #cccccc;
  padding-bottom: 30px;
}

div.page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  -webkit-box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

div.page[data-size="A3"] {
  width: 29.7cm;
  min-height: 42cm;
}

div.page[data-size="A3"][data-layout="landscape"] {
  width: 42cm;
  min-height: 29.7cm;
}

div.page[data-size="A4"] {
  width: 21cm;
  min-height: 29.7cm;
}

div.page[data-size="A4"][data-layout="landscape"] {
  width: 29.7cm;
  min-height: 21cm;
}

div.page[data-size="A5"] {
  width: 14.8cm;
  min-height: 21cm;
}

div.page[data-size="A5"][data-layout="landscape"] {
  width: 21cm;
  min-height: 14.8cm;
}

div.page[data-size="A6"] {
  width: 10.5cm;
  min-height: 14.8cm;
}

div.page[data-size="A6"][data-layout="landscape"] {
  width: 14.8cm;
  min-height: 10.5cm;
}

div.page[data-size="A7"] {
  width: 7.4cm;
  min-height: 10.5cm;
}

div.page[data-size="A7"][data-layout="landscape"] {
  width: 10.5cm;
  min-height: 7.4cm;
}

.icon_pulse {
  -webkit-animation: circle 0.5s steps(8) infinite;
          animation: circle 0.5s steps(8) infinite;
}

@-webkit-keyframes circle {
  from {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

@keyframes circle {
  from {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

.top-menu-printing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-menu-printing .btn-back-printing {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
}

.top-menu-printing .btn-back-printing:hover {
  -webkit-box-shadow: 0 0 0.2cm rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.2cm rgba(0, 0, 0, 0.5);
}

.top-menu-printing .btn-back-printing:active {
  -webkit-box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

.top-menu-printing .btn-printing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.top-menu-printing .btn-printing:hover {
  -webkit-box-shadow: 0 0 0.2cm rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.2cm rgba(0, 0, 0, 0.5);
}

.top-menu-printing .btn-printing:active {
  -webkit-box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

.switch {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: calc($size * 2.2);
  height: 10px;
  display: inline-block;
  border-radius: calc($size / 2);
  cursor: pointer;
  background-color: #cfd8dc;
  background-image: radial-gradient(circle calc($size / 2.1), #fff 100%, #0000 0), radial-gradient(circle calc($size / 1.5), #0003 0%, #0000 100%);
  background-repeat: no-repeat;
  background-position: calc($size / (-1.75)) 0;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.switch:checked {
  background-color: #000;
  background-position: calc($size / 1.75) 0;
}
/*# sourceMappingURL=style.css.map */