@media print {
    html {
        word-wrap: break-word;
        display: block;
        margin: 0;
        padding: 0;
    }

    body {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
}